<a href="https://colab.research.google.com/github/Fuenfgeld/DMA2022DataProjectB/blob/Ahmads_Arbeitsbereich/Datenpruefung/Datenpruefung_neu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 3 Datenprüfung

In [1]:
# Bibliotheken laden
import sqlite3
import pandas as pd

# Git klonen
%cd /content/
%rm -r ./DMA2022DataProjectB
!git clone https://github.com/Fuenfgeld/DMA2022DataProjectB.git
    
%cd ./DMA2022DataProjectB/

# Tabellen laden
patient = pd.read_csv('BreastCancerData/patients.csv', sep=",")
condition = pd.read_csv('BreastCancerData/conditions.csv', sep=",")
medication = pd.read_csv('BreastCancerData/medications.csv', sep=",")
observation = pd.read_csv('BreastCancerData/observations.csv', sep=",")
procedure = pd.read_csv('BreastCancerData/procedures.csv', sep=",")

/content
rm: cannot remove './DMA2022DataProjectB': No such file or directory
Cloning into 'DMA2022DataProjectB'...
remote: Enumerating objects: 169, done.
remote: Counting objects: 100% (114/114), done.
remote: Compressing objects: 100% (92/92), done.
remote: Total 169 (delta 52), reused 60 (delta 21), pack-reused 55
Receiving objects: 100% (169/169), 3.24 MiB | 13.33 MiB/s, done.
Resolving deltas: 100% (74/74), done.
/content/DMA2022DataProjectB

# 3.1 Auf ungültige Werte prüfen

In [2]:
print("Anzahl ungültiger Werte in 'patient'\n\n", patient.isna().sum())
print("\n\nAnzahl ungültiger Werte in 'condition'\n\n", condition.isna().sum())
print("\n\nAnzahl ungültiger Werte in 'medication'\n\n", medication.isna().sum())
print("\n\nAnzahl ungültiger Werte in 'observation'\n\n", observation.isna().sum())
print("\n\nAnzahl ungültiger Werte in 'procedure'\n\n", procedure.isna().sum())

Anzahl ungültiger Werte in 'patient'

 Id                        0
BIRTHDATE                 0
DEATHDATE              1000
SSN                       0
DRIVERS                 165
PASSPORT                216
PREFIX                  188
FIRST                     0
LAST                      0
SUFFIX                 1004
MAIDEN                  739
MARITAL                 330
RACE                      0
ETHNICITY                 0
GENDER                    0
BIRTHPLACE                0
ADDRESS                   0
CITY                      0
STATE                     0
COUNTY                    0
ZIP                     464
LAT                       0
LON                       0
HEALTHCARE_EXPENSES       0
HEALTHCARE_COVERAGE       0
dtype: int64


Anzahl ungültiger Werte in 'condition'

 START            0
STOP           222
PATIENT          0
ENCOUNTER        0
CODE             0
DESCRIPTION      0
dtype: int64


Anzahl ungültiger Werte in 'medication'

 START                  0
STOP                 238
PATIENT                0
PAYER                  0
ENCOUNTER              0
CODE                   0
DESCRIPTION            0
BASE_COST              0
PAYER_COVERAGE         0
DISPENSES              0
TOTALCOST              0
REASONCODE           372
REASONDESCRIPTION    372
dtype: int64


Anzahl ungültiger Werte in 'observation'

 DATE               0
PATIENT            0
ENCOUNTER      31452
CODE               0
DESCRIPTION        0
VALUE              0
UNITS             91
TYPE               0
dtype: int64


Anzahl ungültiger Werte in 'procedure'

 DATE                  0
PATIENT               0
ENCOUNTER             0
CODE                  0
DESCRIPTION           0
BASE_COST             0
REASONCODE           36
REASONDESCRIPTION    36
dtype: int64

# 3.2 Primärschlüsselermittlung

In [3]:
patient['Id'].is_unique

True

# 3.3 Duplikatprüfung

In [4]:
#patient['Id'].duplicated()
print("Tabelle 'patient'")
for i in range(len(list(patient.columns.values))):
  print("Duplikate in", list(patient.columns.values)[i], "enthalten: ", not patient[list(patient.columns.values)[i]].is_unique) # not damit Duplikate und nicht Unikate angezeigt werden

print("\n\nTabelle 'condition'")  
for i in range(len(list(condition.columns.values))):
  print("Duplikate in", list(condition.columns.values)[i], "enthalten: ", not condition[list(condition.columns.values)[i]].is_unique) # not damit Duplikate und nicht Unikate angezeigt werden

print("\n\nTabelle 'medication'") 
for i in range(len(list(medication.columns.values))):
  print("Duplikate in", list(medication.columns.values)[i], "enthalten: ", not medication[list(medication.columns.values)[i]].is_unique) # not damit Duplikate und nicht Unikate angezeigt werden

print("\n\nTabelle 'observation'") 
for i in range(len(list(observation.columns.values))):
  print("Duplikate in", list(observation.columns.values)[i], "enthalten: ", not observation[list(observation.columns.values)[i]].is_unique) # not damit Duplikate und nicht Unikate angezeigt werden

print("\n\nTabelle 'procedure'") 
for i in range(len(list(procedure.columns.values))):
  print("Duplikate in", list(procedure.columns.values)[i], "enthalten: ", not procedure[list(procedure.columns.values)[i]].is_unique) # not damit Duplikate und nicht Unikate angezeigt werden

Tabelle 'patient'
Duplikate in Id enthalten:  False
Duplikate in BIRTHDATE enthalten:  True
Duplikate in DEATHDATE enthalten:  True
Duplikate in SSN enthalten:  False
Duplikate in DRIVERS enthalten:  True
Duplikate in PASSPORT enthalten:  True
Duplikate in PREFIX enthalten:  True
Duplikate in FIRST enthalten:  True
Duplikate in LAST enthalten:  True
Duplikate in SUFFIX enthalten:  True
Duplikate in MAIDEN enthalten:  True
Duplikate in MARITAL enthalten:  True
Duplikate in RACE enthalten:  True
Duplikate in ETHNICITY enthalten:  True
Duplikate in GENDER enthalten:  True
Duplikate in BIRTHPLACE enthalten:  True
Duplikate in ADDRESS enthalten:  False
Duplikate in CITY enthalten:  True
Duplikate in STATE enthalten:  True
Duplikate in COUNTY enthalten:  True
Duplikate in ZIP enthalten:  True
Duplikate in LAT enthalten:  False
Duplikate in LON enthalten:  False
Duplikate in HEALTHCARE_EXPENSES enthalten:  True
Duplikate in HEALTHCARE_COVERAGE enthalten:  True


Tabelle 'condition'
Duplikate in START enthalten:  True
Duplikate in STOP enthalten:  True
Duplikate in PATIENT enthalten:  True
Duplikate in ENCOUNTER enthalten:  True
Duplikate in CODE enthalten:  True
Duplikate in DESCRIPTION enthalten:  True


Tabelle 'medication'
Duplikate in START enthalten:  True
Duplikate in STOP enthalten:  True
Duplikate in PATIENT enthalten:  True
Duplikate in PAYER enthalten:  True
Duplikate in ENCOUNTER enthalten:  True
Duplikate in CODE enthalten:  True
Duplikate in DESCRIPTION enthalten:  True
Duplikate in BASE_COST enthalten:  True
Duplikate in PAYER_COVERAGE enthalten:  True
Duplikate in DISPENSES enthalten:  True
Duplikate in TOTALCOST enthalten:  True
Duplikate in REASONCODE enthalten:  True
Duplikate in REASONDESCRIPTION enthalten:  True


Tabelle 'observation'
Duplikate in DATE enthalten:  True
Duplikate in PATIENT enthalten:  True
Duplikate in ENCOUNTER enthalten:  True
Duplikate in CODE enthalten:  True
Duplikate in DESCRIPTION enthalten:  True
Duplikate in VALUE enthalten:  True
Duplikate in UNITS enthalten:  True
Duplikate in TYPE enthalten:  True


Tabelle 'procedure'
Duplikate in DATE enthalten:  True
Duplikate in PATIENT enthalten:  True
Duplikate in ENCOUNTER enthalten:  True
Duplikate in CODE enthalten:  True
Duplikate in DESCRIPTION enthalten:  True
Duplikate in BASE_COST enthalten:  True
Duplikate in REASONCODE enthalten:  True
Duplikate in REASONDESCRIPTION enthalten:  True

# 3.4 Tabellen joinen

In [5]:
Neu_Tab = patient.join(condition.set_index('PATIENT'), on='Id').join(procedure.set_index('PATIENT'), on='Id', lsuffix='_condition', rsuffix='_procedure').join(medication.set_index('PATIENT'), on='Id', rsuffix='_medication').join(observation.set_index('PATIENT'), on='Id', rsuffix='_observation') 
Neu_Tab.head()
#list(Neu_Tab.columns.values)

,Id,BIRTHDATE,DEATHDATE,SSN,DRIVERS,PASSPORT,PREFIX,FIRST,LAST,SUFFIX,...,TOTALCOST,REASONCODE_medication,REASONDESCRIPTION_medication,DATE_observation,ENCOUNTER_observation,CODE_observation,DESCRIPTION_observation,VALUE,UNITS,TYPE
0,d2061cc7-bee0-0e6c-3ac4-15c197c474e0,1956-06-22,NaN,999-51-6528,S99944910,X29408602X,Mr.,Lucio648,Simonis280,NaN,...,1472.58,NaN,NaN,2010-06-22T10:47:46Z,NaN,QALY,QALY,53.0,a,numeric
0,d2061cc7-bee0-0e6c-3ac4-15c197c474e0,1956-06-22,NaN,999-51-6528,S99944910,X29408602X,Mr.,Lucio648,Simonis280,NaN,...,1472.58,NaN,NaN,2011-06-22T10:47:46Z,NaN,QALY,QALY,54.0,a,numeric
0,d2061cc7-bee0-0e6c-3ac4-15c197c474e0,1956-06-22,NaN,999-51-6528,S99944910,X29408602X,Mr.,Lucio648,Simonis280,NaN,...,1472.58,NaN,NaN,2012-06-22T10:47:46Z,NaN,QALY,QALY,55.0,a,numeric
0,d2061cc7-bee0-0e6c-3ac4-15c197c474e0,1956-06-22,NaN,999-51-6528,S99944910,X29408602X,Mr.,Lucio648,Simonis280,NaN,...,1472.58,NaN,NaN,2013-06-22T10:47:46Z,NaN,QALY,QALY,56.0,a,numeric
0,d2061cc7-bee0-0e6c-3ac4-15c197c474e0,1956-06-22,NaN,999-51-6528,S99944910,X29408602X,Mr.,Lucio648,Simonis280,NaN,...,1472.58,NaN,NaN,2014-06-22T10:47:46Z,NaN,QALY,QALY,57.0,a,numeric